:root {
    --cor01: #eae5d9;
    --cor02: #a7b0bb;
    --cor03: #3D5E6B;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor01);
}

header {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

header h1 {
    padding: 5px;
}

header img {
    width: 80px;
    height: 80px;
}

header p {
    padding: 5px;
    font-size: 1.2em;
}

section#form {
    background-color: var(--cor02);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

section#form .form {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--cor03);
    padding: 3px;
    background-color: var(--cor01);
}

section#form .form:focus{
    background-color: #dfe8f3;
}

section input#btn-add {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor01);
}

section input#btn-add:hover {
    background-color: #49707f;
}

.btn {
    padding: 5px;
    border: 2px solid var(--cor03);
    border-radius: 5px;
    background-color: var(--cor01);
}

.btn:hover {
    background-color: #49707f;
}

section#resultado {
    display: flex;
    gap: 70px;
    margin: 20px;
}

section#tabela {
    flex-direction: row;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--cor03);
    margin: 20px;
    width: 300px;
}

th {
    padding: 10px;
    border: 1px solid var(--cor03);
}

td {
    border: 1px solid var(--cor03);
    padding: 5px;
    text-align: left;
}

section#res {
    margin: 20px;
    flex-direction: row; 
}

div#listas {
   display: flex;
   gap: 40px;
}

div#listas ul {
    flex-direction: row;
    margin: 20px;
}

.list {
    text-align: center;
}

div#listas li {
    list-style: none;  
}

section#res p {
    flex-direction: column;
}